<!-- <div class="Nav">
  <ul>
    <li>
      <a routerLink="/"> <span>Home</span></a>
    </li>
    <li>
      <a [routerLink]="['/book']"> <span>Books</span> </a>
    </li>
    <li>
      <a [routerLink]="['/person']"> <span>Persons</span> </a>
    </li>
  </ul>
</div> -->
<div class="Nav">
  <ul>
    <li>
      <a routerLink="/"> <span>Dashboard</span></a>
    </li>
    <li>
      <a [routerLink]="'/book'"> <span>Books</span> </a>
    </li>
    <li>
      <a [routerLink]="'/person'"> <span>Persons</span> </a>
    </li>
  </ul>
</div>
